<% provide(:title, "About") %>

    
<head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<h1>MY APPP</h1>
<p>THIS IS MY ABOUT PAGE</p>

<%= link_to 'home', root_path %>
<%= link_to 'help', help_path %>
<%= link_to 'contact', contact_path %> 


xxx