<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
    
<head>
   <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<h1>MY APP</h1>
<p>THIS IS A CONTACT PAGE</p>

<%= link_to 'home', root_path %>
<%= link_to 'about', about_path %>
<%= link_to 'help', help_path %>
</html>