<% provide(:title, "Help") %>

    
<head>
   <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<h1>MY APP</h1>
<p>THIS IS HELP PAGE</p>

<%= link_to 'home', root_path %>
<%= link_to 'about', about_path %>
<%= link_to 'contact', contact_path %>
