<% provide(:title, "Home") %>

    
<head>
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>
<div class="center jumbotron"><center>
<h1>Welcome to my app page</h1>
<p>MAIN PAGE</p>
<h3>This is my ruby website app that im working on in griffith college</h3>

<%=link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %><br>
</div></center>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
'http://rubyonrails.org/' %>